/* style for virtual business card */

a:link {
    color:#38333a;
    text-decoration:none;
}

a:visited {
    color:#38333a;
    text-decoration:none;
}

a:hover {
    color:#38333a;
    opacity: 0.6;
}

img.logo {
    position: fixed;
    top: 50px;
    left: 50%;
    margin-left: -300px;
}

.menu {
    font-family: "Athelas";
    color: #38333a;
    font-size: 20px;
}

.pos_1 {
    position: fixed;
    top: 290px;
    left: 50%;
    margin-left: -250px;
}

.pos_2 {
    position: fixed;
    top: 320px;
    left: 50%;
    margin-left: -250px;
}

.pos_3 {
    position: fixed;
    top: 350px;
    left: 50%;
    margin-left: -225px;

    font-size: 15px;
}

@media screen and (max-width: 600px) {

    img.logo {

        width: 300px;
        height: 125px;

        position: fixed;
        top: 50px;
        left: 25%;
        margin-left: -75px;
    }

    .pos_1 {
        position: fixed;
        top: 160px;
        left: 25%;
        margin-left: -62.5px;
    }

    .pos_2 {
        position: fixed;
        top: 190px;
        left: 25%;
        margin-left: -62.5px;
    }

    .pos_3 {
        position: fixed;
        top: 220px;
        left: 25%;
        margin-left: -55px;

        font-size: 15px;
    }

}
